<div class="container"> 
    <div class="card shadow mb-4"> 
      <div class="card-body"> 
        <table class="table"> 
          <thead> 
            <tr> 
              <th>ID</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Date</th> 
              <th>Theme</th>
              <th>Action</th>
              
            </tr> 
          </thead> 
          <tbody>
            <tr *ngFor="let evenement of evenements"> 
              <td>{{ evenement.idEvenement }}</td> 
              <td>{{ evenement.nomEvenement }}</td> 
              <td>{{ evenement.prixEvenement }}</td> 
              <td>{{ evenement.dateEvenement | date: 'dd/MM/yyyy' }}</td> 

              
            </tr> 
          </tbody> 
        </table> 
      </div> 
    </div> 
  </div>
  